- @section = :events
- @page_title = "proposals for #{h(@event.name)}"

- content_for :section_menu do
  %ul.actions
    %li= link_to @event.name, admin_event_path(@event)

%h1
  = @page_title
  
%ul#proposals
  -@event.presentation_proposals.each do |proposal|
    %li
      .title
        = link_to proposal.title, admin_event_proposal_path(@event,proposal)
      .user
        proposed by
        = proposal.user.full_name