- @section = :events
- @page_title = "Event: #{h(@event.name)}"


- content_for :other_content do
  %ul
    %li= link_to "Edit", edit_admin_event_path(@event)
    %li= button_to "Delete", admin_event_path(@event), :method => :delete, :confirm => "Yo sure?"

%h1
  Event:
  =h @event.name

%p
  %strong Permalink:
  = link_to event_path(event), event_path(event)

%p
  %strong Name:
  = @post.name

%p
  %strong Tag:
  = @post.tag

%p
  %strong Held At:
  = @post.held_at

%p
  %strong Timezone:
  = @post.timezone

%p
  %strong RSVP limit:
  = @post.rsvp_limit

%p
  %strong Published:
  = @post.published_at || "Not yet"