.item
  = render :partial => "pages/events/title", :locals => {:link_name => "Details", :event => event}
    
  .column
    = event.hype

  .column
    %ul.registration
      / RSVPs
      - if logged_in? && (rsvp = current_user.rsvp_for(event))
        / Don't show nuthin if you've RSVP'd already
      - elsif event.full?
        %li.option
          %span.button.closed Too late
        %li
          %p
            %strong Want to attend?
            Sorry, all full up!
      - elsif !logged_in?
        %li.option
          = link_to "Login to RSVP", new_session_path(:return_to => event_path(event)), :class => "button login"
        %li
          %p
            %strong Want to attend?
            There&rsquo;s still spots
      - else
        %li.option
          - form_tag event_rsvps_path(event), :class => "button rsvp" do |form|
            = submit_tag 'Attend', :class => "button"
        %li
          %p
            %strong Want to attend?
            = "Only #{pluralize(event.rsvps_left, "spot")}, get on it."

      / Proposals
      / TODO: If they've submitted a proposal
      - if logged_in? && (proposal = current_user.proposal_for(event))
        / Don't show nuthin if you've submitted a proposal
      - elsif event.not.proposals_open?
        %li.option
          %span.button.closed Too late
        %li
          %p
            %strong Want to present?
            Sorry, no more are being accepted.
      - elsif !logged_in?
        %li.option
          = link_to "Login to present", new_session_path(:return_to => event_path(event)), :class => "button login"
        %li
          %p
            %strong Want to present?
            There&rsquo;s still time.
      - else
        %li.option
          = link_to "Present", new_event_presentation_proposal_path(event), :class => "button rsvp"
        %li
          %p
            %strong Want to present?
            Submit your proposal!
