<% @page_title = "Edit your profile" %>

<h2>Edit your profile</h2>

<%= flash_notice %>

<%= render :partial => 'shared/new_mugshot' %>

<h3>Profile Details</h3>

<%= error_messages_for :user %>
<% form_for :user, :url => create_users_path, :id => 'register' do |f| -%>
  <fieldset>
  <label for="user_nick_name">
      <span>Nick name:</span> 
      <%= f.text_field :nick_name %> 
      <span class="note">(what you want to be known as)</span>
  </label>
  <label for="user_full_name">
    <span>Full name:</span>
    <%= f.text_field :full_name %> 
    <span class="note">(what name to put down on the door, who to give a prize to, etc)</span>
  </label>
  <label for="user_email">
    <span>Email:</span>     
    <%= f.text_field :email %>     
    <span class="note">(verification, lost passwords, announcements, etc)</span>
  </label>
  <label for="user_website_name">
     <span>Website Name:</span>     
     <%= f.text_field :website_name %>     
   </label>
   <label for="user_website_url">
      <span>Website URL:</span>     
      <%= f.text_field :website_url %>     
    </label>
  </fieldset>
  <fieldset>
    <%= submit_tag 'Save profile details', :class => "submit" %>
  </fieldset>
<% end %>


<h3>OpenID URLs</h3>

<ul>
<% for identity_url in @identity_urls %>
  <li>
    <%= link_to h(identity_url.url), identity_url.url %>
    <%= button_to('(DELETE ICON)', identity_url_path(identity_url), :method => 'delete') unless @identity_urls.length == 1 %>
  </li>
<% end %>
</ul>

<p>Associate your WebJam account with all your OpenIDs URLs. You know you want to.</p>

<% form_tag create_identity_urls_path do %>
  <fieldset>
    <label for="openid_url">
      OpenID URL:
      <%= text_field_tag 'openid_url' %>
    </label>
  </fieldset>
  <fieldset>
    <%= submit_tag 'Add URL', :class => "submit" %>
  </fieldset>
<% end %>

<h3>Password</h3>

<p>Nah, just kidding, we don't do passwords! OpenID bruvva.</p>