- @page_title = h(@user.nick_name) + " loves Webjam"
- @body_class = "profile"

- content_for :full_title do
  #title
    %h1
      %strong= @user.nick_name
      loves the jam
      
- content_for :other_content do
  = render :partial => 'shared/other_content/peep_card'
  = render :partial => 'shared/other_content/shirt'

- if @user == current_user
  %ul#profile-menu
    %li
      = link_to '(Edit)', edit_current_user_path

= flash_notice

.description= format_user_html(@user.description)  

/
  <h2>Jams <span class="amp">&amp;</span> Awards</h2>
