- @page_title = h(@user.nick_name) + " loves Webjam"

%h1
  %strong
    <%=h @user.nick_name %>
  loves the jam

- if @user == current_user
  %ul#profile-menu
    %li
      <%= link_to '(Edit)', edit_current_user_path %>

= flash_notice

%h2
  Details
%dl.vcard{ :id => "hcard-#{h utf8_slugify(@user.nick_name)}" }
  %dt.fn
    =h @user.full_name
  - unless @user.website_url.blank?
    %dd
      Visit
      = link_to h(@user.website_display_name), @user.website_url, :class => "url", :rel => "me"
  %dd.avatar
    - if @user.mugshot
      = image_tag @user.mugshot.public_filename(:large), :class => 'photo'
    - else
      - if @user == current_user
        = link_to avatar_image(@user, :large), new_current_mugshot_path, :class => 'photo'
        = link_to 'Upload your mugshot', new_current_mugshot_path
      - else
        = avatar_image(@user, :large)
/
  <h2>Jams <span class="amp">&amp;</span> Awards</h2>
