.column
  %dl.registration
    / RSVPs
    - if logged_in? && (rsvp = current_user.rsvp_for(event))
      %dt
        %span.button.closed You&rsquo;ve RSVP'd
      %dd
        %p
          %strong Want to attend?
          You&rsquo;ve RSVP'd!
    - elsif event.full?
      %dt
        %span.button.closed Too late
      %dd
        %p
          %strong Want to attend?
          Sorry, all full up!
    - elsif !logged_in?
      %dt
        = link_to "Login to RSVP", new_session_path(:return_to => event_path(event)), :class => "button rsvp"
      %dd
        %p
          %strong Want to attend?
          There&rsquo;s still spots
    - else
      %dt
        - form_tag event_rsvps_path(event), :class => "button rsvp" do |form|
          = submit_tag 'Attend'
      %dd
        %p
          %strong Want to attend?
          = "Only #{pluralize(event.rsvps_left, "spot")}, get on it."

    / Proposals
    / TODO: If they've submitted a proposal
    - if logged_in? && (proposal = current_user.proposal_for(event))
      / Don't show nuthin if you've submitted a proposal
    - elsif event.not.proposals_open?
      %dt
        %span.button.closed Too late
      %dd
        %p
          %strong Want to present?
          Sorry, no more are being accepted.
    - elsif !logged_in?
      %dt
        = link_to "Login to present", new_session_path(:return_to => event_path(event)), :class => "button rsvp"
      %dd
        %p
          %strong Want to present?
          There&rsquo;s still time.
    - else
      %dt
        = link_to "Present", new_event_presentation_proposal_path(event), :class => "button rsvp"
      %dd
        %p
          %strong Want to present?
          Submit your proposal!
