- if @user.mugshot?
  %h2 Your Mugshot
  = image_tag @user.mugshot.url(:large)
  = button_to "Delete current mugshot", current_mugshot_path, :method => :delete
  %h3 Replace your mugshot
  = render :partial => 'mugshots/form'

- else
  %h2 
    Add A Mugshot
    = avatar_image(current_user, :tiny)
  = render :partial => 'mugshots/form'