- @section = :staticevent
- @page_title =h @event.name
- @body_class = "event"
- @event_num = @event.number

- content_for :other_content do
  = render :partial => 'shared/other_content/wtf'
  = render :partial => 'shared/other_content/shirt'
  = render :partial => 'shared/other_content/latest_news'
  
.item
  = render :partial => "shared/event_title", :locals => {:event => @event}

  = render :partial => "shared/event_registration_column", :locals => {:event => @event}
  
  = @event.hype
 
.item#sponsors
  .item-details
    %h2 Meet our sponsors 
    %a.details{ :href => "mailto:welovesponsors@webjam.com.au"} Want your logo here? Get in touch.
  
  .sponsors.major
    %h3 Major Sponsors
    #ul.sponsor-logos
      %li
        %a{:href => "http://adobe.com/", :title => "Webjam 8 is proudly sponsored by Adobe"} 
          %img{:alt => "Adobe", :src => "/images/sponsors/adobe-lg.gif"}
      /  
        %li
          %a{:href => "http://some.com/", :title => "Webjam 8 is proudly sponsored by Major Sponsor II"} 
            %img{:alt => "Major Sponsor II", :src => "/images/sponsors/2vouch.jpg"}
  .sponsors
    %h3 Sponsors
    #ul.sponsor-logos
      %li
        %a{:href => "http://campaignmonitor.com/", :title => "Webjam 8 is proudly sponsored by Campaign Monitor"} 
          %img{:alt => "Campaign Monitor", :src => "/images/sponsors/campaign-monitor.gif"}
      %li
        %a{:href => "http://2vouch.com/", :title => "Webjam 8 is proudly sponsored by 2Vouch"} 
          %img{:alt => "2Vouch", :src => "/images/sponsors/2vouch.jpg"}
      %li
        %a{:href => "http://www.fatpublisher.com.au/", :title => "Webjam 8 is proudly sponsored by Fatpublisher"} 
          %img{:alt => "Fatpublisher", :src => "/images/sponsors/fatpublisher.gif"}
      
  .sponsors.micro
    %h3 Microsponsors
    #ul.sponsor-logos
      %li
        %a{:href => "http://pollenizer.com/", :title => "Webjam 8 is proudly sponsored by Pollenizer"} 
          %img{:alt => "Pollenizer", :src => "/images/sponsors/pollenizer.jpg"}
      %li
        %a{:href => "http://happener.com/", :title => "Webjam 8 is proudly sponsored by Happener"} 
          %img{:alt => "Happener", :src => "/images/sponsors/happener.gif"}
      %li
        %a{:href => "http://freeaustraliawireless.com/", :title => "Webjam 8 is proudly sponsored by Free Australia Wireless"} 
          %img{:alt => "Free Australia Wireless", :src => "/images/sponsors/free-australia-wireless.gif"}          

.item
  .item-details
    %h2 What you&apos;re in for
  - unless @event.previous_event.flickr_photos.featured.empty?
    .slideshow
      %ul
        - @event.previous_event.flickr_photos.featured.each do |fp|
          %li
            %a{:href => fp.url}
              %img{ :title => "#{fp.title} by #{fp.realname}", :src => fp.img_url, :alt => fp.title }
            %br
            Photo by
            %a{:href => fp.profile_url}<
              =fp.realname
            
  %p
    So far we have
    -# = pluralize(@event.number_of_presenters, "presenter") + " and"
    = pluralize(@event.rsvps.count, "attendee")
    but we need more. We need <strong>you</strong>. Hadn't you better
    %a{ :href => "#" + @event.tag} sign up?

%div{:class => @event.posts.empty? ? "item last" : "item", :id => "event-details"}
  .item-details
    %h2 The details
  .map
    = render :partial => "shared/map", :locals => {:src => @event.map_iframe_url}
    %a{ :href => @event.map_url } View larger version
  %dl
    %dt= @event.address
    %dd= @event.location
    %dd= "Doors open #{@event.local_held_at.to_datetime.to_s(:time_12hr).downcase}"
    %dd= @event.local_held_at.to_date.to_s(:long_ordinal)
 
- unless @event.posts.empty?
  .item.last#related-posts
    = render :partial => "related_posts"