- @page_title = h(@event.name)
- @body_class = "event complete"

- content_for :other_content do
  = render :partial => 'shared/other_content/wtf'
  = render :partial => 'shared/other_content/shirt'
  
.item
  .item-details
    %h1
      =h @event.name
    %h2.date 
      = "#{@event.local_held_at.to_date.to_s(:long_ordinal)}"

- if logged_in?
  - if current_user.rsvped?(@event)
    You&rsquo;ve RSVPed
  - elsif @event.full?
    FULL
  - else
    - form_tag event_rsvps_path(@event) do |form|
      = submit_tag 'RSVP!'

  = link_to "Submit a proposal", new_event_presentation_proposal_path(@event)
