- @page_title = "#{h @event.name} #{h @event.location}"
- @regular_version_path = event_path(@event)

- content_for :javascript_inits do
  = javascript_tag mobilePhotoNavigatorInitJavascript(".photos", @photos, '/')

.event-info
  .hype= @event.hype

  %dl.where
    %dt
      %a.map{:href => @event.map_url}= image_tag "icons/map.gif", :size => "40x40", :alt => "Map"
    %dd
      %a.map{:href => @event.map_url}= @event.address

  %dl.when
    %dt
      %span.day
        - day = @event.local_held_at.strftime("%d")
        - if day[0..0] != "0"
          %span.day-1>= day[0..0]
        %span.day-2>= day[1..1]
        %span.ord>= day.to_i.ordinalize[2..4]
      %span.month= @event.local_held_at.strftime("%b")
    %dd
      = @event.local_held_at.to_date.to_s(:long)
      %br/
      Doors open at
      = @event.local_held_at.to_datetime.to_s(:time_12hr).downcase.sub(/^0/,'')

%h2 Get Involved!
%ul.group.multi
  %li
    %a.button.item{:href => "#"} Register to attend
  %li
    %a.button.item{:href => "#"} Submit a proposal

- if @latest_photo
  %h2
    - if @photos_from_previous_event
      = "Photos from #{@previous_event.tag}"
    - else
      = "Photos tagged #{@event.tag}"
  .photos
    .photo
      %img{:src => @latest_photo.img_url("m"), :alt => @latest_photo.title, :class => "photo"}/
      %a.button{:href => @latest_photo.url}
        =h @latest_photo.title
        by
        =h @latest_photo.realname
  - unless @photos_from_previous_event
    .more
      %a.button{:href => formatted_event_photos_path(@event, :mobile)} More photos&hellip;
        
        
- unless @latest_tweets.empty?
  %h2 Tweets
  %ul.tweets
    - for tweet in @latest_tweets
      %li
        = render :partial => 'shared/tweet', :locals => {:tweet => tweet}
  - if @more_tweets
    .more
      %a.button{:href => formatted_event_tweets_path(@event, :mobile)} More tweets&hellip;
  
- unless @videos.empty?
  %h2 Videos
  %ul.videos
    - for video in @videos
      %li
        %a{:href => ""}
          %img{:src => ""}

- unless @event.posts.empty?
  %h2 News
  %ul.group
    - for post in @event.posts
      %li
        %a.button.item{:href => formatted_post_path(post.year, post.permalink, :mobile)}
          =h post.title
          %span.comment-count= pluralize(post.comments.length, "comment")

- if @previous_event
  %h2 Previous Event
  %ul.group
    %li
      %a.button.item{:href => formatted_event_path(@previous_event, :mobile)}=h @previous_event.name
