- @section = :staticevent
- @page_title =h @event.name
- @body_class = "event"
- @event_num = @event.number
- @mobile_version_path = formatted_event_path(@event, :mobile)

- content_for :other_content do
  - unless @latest_tweets.empty?
    .item
      %h2 Tweets
      %ul.tweets
        - for tweet in @latest_tweets
          %li
            = render :partial => 'shared/tweet', :locals => {:tweet => tweet}
  = render :partial => 'shared/other_content/wtf'
  = render :partial => 'shared/other_content/latest_news'
  = event_summary(@event)

%div{:class => @event.previous_event.flickr_photos.empty? ? "item last" : "item"}
  = render :partial => "shared/event_title", :locals => {:event => @event}
  - unless @event.previous_event.flickr_photos.featured.empty?
    .slideshow
      %ul
        - @event.previous_event.flickr_photos.featured.each do |fp|
          %li
            %a{:href => fp.url}
              %img{ :title => "#{fp.title} by #{fp.realname}", :src => fp.img_url("l"), :alt => fp.title }
            %br
            Photo by
            %a{:href => fp.profile_url}<
              =fp.realname

  /
    %p Wow! We had 18 presenters and over 190 attendees. Not to mention a whole lot of awesome geekery.
  /
    %p
      Wow! 
      = pluralize(@event.number_of_presenters, "presenter") + "."
      = pluralize(@event.rsvps.count, "attendee") + "."
      And a whole lot of awesome geekery.
  = @event.hype

= sponsor_content(@event)

- unless @event.posts.empty?
  %div{:class => @event.previous_event.flickr_photos.empty? ? "item last" : "item", :id => "related-posts"}
    = render :partial => "related_posts"

= winners_content(@event)

- unless @event.previous_event.flickr_photos.empty?
  .item.last.media#photos
    .item-details
      %h2 Photos
      %p 
        Add your photos. Tag them on
        %a{:href => "http://flickr.com/"} Flickr
        with &#8220;
        %a{:href => "http://flickr.com/photos/tags/#{@event.tag}/"}= @event.tag
        &#8221;
    %ul
    - @event.previous_event.flickr_photos.each do |fp|
      %li
        %a{:href => fp.url}
          %img{:alt => fp.title, :height => "75", :src => fp.img_url("s"), :title => "#{fp.title} by #{fp.realname}", :width => "75"}

-#.item.media#videos
-#  .item-details
-#    %h2 Videos
-#    %p 
-#      Add your videos. Tag them on 
-#      %a{ :href => "http://viddler.com/"} Viddler
-#      with &#8220;
-#      %a{ :href => "http://flickr.com/photos/tags/webjam8/" } webjam8
-#      &#8221;
-#  %ul
-#    %li
-#      %a{ :href => "http://www.viddler.com/explore/Webjam/videos/22/" }
-#        %img{ :alt => "Webjam Perth Winners by Webjam", :height => "105", :src => "http://cdn-ll-82.viddler.com/e2/thumbnail_1_8d06a7eb.jpg", :title => "Webjam Perth Winners by Webjam", :width => "140"}
-#    %li
-#      %a{ :href => "http://www.viddler.com/explore/Webjam/videos/22/" }
-#        %img{ :alt => "Webjam Perth Winners by Webjam", :height => "105", :src => "http://cdn-ll-82.viddler.com/e2/thumbnail_1_8d06a7eb.jpg", :title => "Webjam Perth Winners by Webjam", :width => "140"}
-#    %li
-#      %a{ :href => "http://www.viddler.com/explore/Webjam/videos/22/" }
-#        %img{ :alt => "Webjam Perth Winners by Webjam", :height => "105", :src => "http://cdn-ll-82.viddler.com/e2/thumbnail_1_8d06a7eb.jpg", :title => "Webjam Perth Winners by Webjam", :width => "140"}
-#    %li
-#      %a{ :href => "http://www.viddler.com/explore/Webjam/videos/22/" }
-#        %img{ :alt => "Webjam Perth Winners by Webjam", :height => "105", :src => "http://cdn-ll-82.viddler.com/e2/thumbnail_1_8d06a7eb.jpg", :title => "Webjam Perth Winners by Webjam", :width => "140"}
-#    %li
-#      %a{ :href => "http://www.viddler.com/explore/Webjam/videos/22/" }
-#        %img{ :alt => "Webjam Perth Winners by Webjam", :height => "105", :src => "http://cdn-ll-82.viddler.com/e2/thumbnail_1_8d06a7eb.jpg", :title => "Webjam Perth Winners by Webjam", :width => "140"}
-#
-#.item.media.last#words
-#  .item-details
-#    %h2 Words
-#    %p 
-#      Add your posts. Tag them with &#8220;
-#      %a{ :href => "http://technorati/tag/webjam8/" } webjam8
-#      &#8221;
-#  %ul
-#    %li
-#      %a{ :href => "#" } This is a blog post.
-#      By Janet Whoever. 23 June 2008
-#    %li
-#      %a{ :href => "#" } This is a blog post.
-#      By Janet Whoever. 23 June 2008
-#    %li
-#      %a{ :href => "#" } This is a blog post.
-#      By Janet Whoever. 23 June 2008
-#    %li
-#      %a{ :href => "#" } This is a blog post.
-#      By Janet Whoever. 23 June 2008            
-#    %li
-#      %a{ :href => "#" } This is a blog post.
-#      By Janet Whoever. 23 June 2008
