- @page_title = "#{h @event.name} #{h @event.location}"
- @regular_version_path = event_path(@event)

- content_for :javascript_inits do
  = javascript_tag mobilePhotoNavigatorInitJavascript(".photos", @featured_photos)

.event-info
  .hype= @event.hype

= sponsor_content(@event)

%h2 Upload your content
%p
  Upload your photos to flickr and tag them with
  = @event.tag
%p
  For twitter just include
  = "##{@event.tag}"
  on the end of your tweet.

- if @featured_photos.first
  %h2
    = "Recent Photos tagged #{@event.tag}"
  .photos
    .photo
      = render :partial => "shared/event_photo", :locals => {:photo => @featured_photos.first}
  .more
    %a.button{:href => formatted_event_photos_path(@event, :mobile)} More photos

- unless @latest_tweets.empty?
  %h2 Tweets
  %ul.tweets
    - for tweet in @latest_tweets
      %li
        = render :partial => 'shared/tweet', :locals => {:tweet => tweet}
  - if @more_tweets
    .more
      %a.button{:href => formatted_event_tweets_path(@event, :mobile)} More tweets

- unless @event.posts.empty?
  %h2 Related News
  %ul.group
    - for post in @event.posts.reverse
      %li
        = render :partial => "shared/news_post", :locals => {:post => post}

%ul.group
  %li
    %a.item.button{:href => formatted_past_events_path(:mobile)} Past events

- unless @upcoming_events.empty?
  %h2 Upcoming Events
  %ul.group
    - for event in @upcoming_events
      %li= render :partial => "shared/event_item", :locals => {:event => event}