- @section = :staticevent
- @page_title =h @event.name
- @body_class = "event"
- @event_num = @event.number

- content_for :other_content do
  = render :partial => 'shared/other_content/wtf'
  = render :partial => 'shared/other_content/shirt'
  
.item
  = render :partial => "shared/event_title", :locals => {:event => @event}
    
  .column
    = @event.hype

  = render :partial => "shared/event_registration_column", :locals => {:event => @event}
 
.item
  .item-details
    %h2 Meet our sponsors
  %ul.sponsors
    %li
      %a.directSMS{ :href => "#" } DirectSMS
    %li
      %a.directSMS{ :href => "#" } SegPub
    %li
      %a.directSMS{ :href => "#" } iBurst
    %li.moar
      %a{ :href => "mailto:welovesponsors@webjam.com.au"} Want your logo here? Get in touch

.item
  .item-details
    %h2 What you&apos;re in for

  .slideshow
    %ul
      - @event.previous_event.flickr_photos.featured.each do |fp|
        %li
          %img{ :title => fp.title, :src => fp.url, :alt => fp.title }

  %p
    = pluralize(@event.number_of_presenters, "presenter") + "."
    = pluralize(@event.rsvps.count, "attendee") + "."
    Alcohol.

%div{:class => @event.posts.empty? ? "item last" : "item"}
  .item-details
    %h2 The deets
  .column
    .map
      = render :partial => "shared/map", :locals => {:src => @event.map_iframe_url}
      %a{ :href => @event.map_url } View larger version
  .column
    %dl
      %dt Bar Broadway
      %dd Cnr Broadway &amp; Harris
      %dd Doors open 6.00pm
      %dd Presentations start 6.30pm
      %dd 15 August 2008
      
- unless @event.posts.empty?
  .item.last
    = render :partial => "related_posts"