- @page_title =h @event.name
- @regular_version_path = event_path(@event)

.content
  = @event.hype

  %h2 When?
  %p.when
    = @event.local_held_at.to_date.to_s(:long_ordinal) + ", "
    = "doors open #{@event.local_held_at.to_datetime.to_s(:time_12hr).downcase}"

  %h2 Where?
  %p.where
    = @event.location
    = @event.address
    %a.map{:href => @event.map_url}= image_tag "icons/map.gif", :size => "40x40", :alt => "Map"

  %h2 Get Involved!
  %ul.group
    %li
      %a.item{:href => "#"} Register to attend
    %li
      %a.item{:href => "#"} Submit a proposal

- if @previous_event
  %h2 Previous Event
  %ul.group
    %li
      %a.item{:href => formatted_event_path(@previous_event, :mobile)}=h @previous_event.name
      
- unless @event.posts.empty?
  %h2 Related news
  %ul.group
    - for post in @event.posts
      %li
        %a.item{:href => formatted_post_path(post.year, post.permalink, :mobile)}
          =h post.title
          %span.comment-count= pluralize(post.comments.length, "comment")
