- @page_title = "Webjam"
- @regular_version_path = home_path("redirect-to-mobile" => "no")
- @hide_header = true

#home-header
  %h1
    %span Webjam

- unless @upcoming_events.empty?
  %h2 Upcoming Events
  %ul.group
    - for event in @upcoming_events
      %li
        %a.button.item{:href => formatted_event_path(event, :mobile)}
          = "#{h event.name}, #{h event.location}"
          %span.in
            = Time.now.to_date.to_s(:short)

- if @last_event
  %h2 Last Event
  %ul.group
    %li
      %a.button.item{:href => formatted_event_path(@last_event, :mobile)}
        = "#{h @last_event.name}, #{h @last_event.location}"
        / %span.in
        /   = pluralize(Time.now.to_date - @last_event.held_at.to_date, "day")
        /   ago

%h2 Latest News
%ul.group.latest-news
  %li
    %a.button.item{:href => formatted_post_path(@last_post.year, @last_post.permalink)}
      =h @last_post.title
      %span.comment-count= pluralize(@last_post.comments.length, "comment")

%ul.group
  %li
    %a.button.item{:href => formatted_about_path(:mobile)} About
  %li
    %a.button.item{:href => formatted_past_events_path(:mobile)} Past Events
  %li
    %a.button.item{:href => formatted_posts_path(:mobile)} News Archive
