- @page_title = "You&rsquo;ve RSVP&rsquo;d for #{h(@event.name)}"

- content_for :other_content do
  .item.last
    %p You're in. Get ready to party on down, Webjam-style!

.item
  %h2
    Woot!

  %p
    You&rsquo;ve RSVP&rsquo;d for
    %a{:href => event_path(@event)}=h @event.name + "."
    You&rsquo;ll be one of at least 
    = pluralize(@event.rsvps.count, "attendee") + "."

  %p
    If for some reason you can&rsquo;t make it, you can always
    %a{:href => event_rsvp_pike_path(@event)} tell us now
    or from the
    %a{:href => event_path(@event)} event page
    anytime and you&rsquo;ll free up your ticket for someone else to attend.

.item#event-details
  .item-details
    %h2 When <span class="amp">&amp;</span> Where
  .map
    = render :partial => "shared/map", :locals => {:src => @event.map_iframe_url}
    %a{ :href => @event.map_url } View larger version
  %dl
    %dd
    = @event.location
    %dd 
    = "Doors open #{@event.local_held_at.to_datetime.to_s(:time_12hr).downcase}"
    %dd
    = @event.local_held_at.to_date.to_s(:long_ordinal)  
  
  /  %p TODO - A link to an ics file with the event details 
 
.item
  %h2 Present!
  %p Why not submit your own proposal? 3 minutes is the shortest, funnest presentation you'll ever do. And you might <strong>win</strong>!
  %p
    = link_to "Sign up here!", event_presentation_proposal_path(@event)

.item
  %h2 Photos, Videos <span class="amp">&amp;</span> Blog Posts
  %p Webjam is all about the people who come to it. Share your photos, videos and blog posts with the rest of the Webjam community by tagging them appropriately.
  %p
    The tag for this event is
    %span{:class => "tag", :rel => "tag"}= @event.tag
  %p.note We check <a href="http://flickr.com/">Flickr</a>, <a href="http://viddler.com/">Viddler</a>, and <a href="http://technorati.com/">Technorati</a> so far. If you think we should check others, you can <a href="mailto:features@webjam.com.au">request them</a> or <a href="http://github.com/webjam/webjam/">add them yourself</a>.
  
.item
  %h2 Tweets
  %p Webjam loves <a href="http://twitter.com/">Twitter</a> too. You can share your tweets with the rest of the Webjam community by tagging them.
  %p
    The tag for this event is
    %span{:class => "tag", :rel => "tag"}= "##{@event.tag}"

.item.last
  %h2 Tell your friends!
  %p 
    The more people come, the more fun you'll have. You'll meet new people and catch up with old friends and colleagues in the community. If your friends are into what's hot on the web, tell them to 
    %a{:href => event_path(@event)} come along.
    Or better yet, maybe they should be
    %a{:href => "#{event_presentation_proposal_path(@event)}"} presenting that thing 
    they were showing you last week?
  
/ .item
/   %h2 Customise your profile
/   %p
/     %a{:href => edit_current_user_path} Customise yo.
/ 
/ .item.last
/   %h2 Get the latest news
/   %p A link to the blog and RSS feed