<%= f.error_messages %>
<fieldset>
  <label for="post_user_id">
    Author <%= f.select :user_id, User.find(:all, :order => 'nick_name ASC').collect {|u| [h(u), u.id]} %>
  </label>
  <label for="post_title">
    Title <%= f.text_field :title %>
  </label>
  <label for="post_permalink">
    Permalink <%= f.text_field :permalink %>
  </label>
  <label for="post_body">
    Body <%= f.text_area :body %>
  </label>
  <label for="post_published_at">
    Published at <%= f.text_field :published_at %>
  </label>
</fieldset>
<fieldset>
  <%= submit_tag "Save", :class => "submit" %>
</fieldset>
