- @section = :posts
- @page_title = "Post: #{h(@post)}"


- content_for :section_menu do
  %ul.actions
    %li= link_to "Edit", edit_admin_post_path(@post)
    %li= button_to "Delete", admin_post_path(@post), :method => :delete, :confirm => "Yo sure?"

%h1
  Post:
  =h @post

%ul
  %li
    %strong Author:
    - if @post.user
      = link_to h(@post.user), user_path(@post.user)
    - else
      None
  %li
    %strong Event:
    - if @post.event
      = link_to h(@post.event.name), admin_event_path(@post.event)
    - else
      None
  %li
    %strong Permalink:
    = link_to post_path(:year => @post.year, :permalink => @post.permalink), post_path(:year => @post.year, :permalink => @post.permalink)
  %li
    %strong Published:
    = @post.published_at || "Not yet"
  %li
    %strong Body:
  %li
    = @post.body
