- @section = :posts
- @page_title = "Post: #{h(@post)}"


- content_for :section_menu do
  %ul.actions
    %li= link_to "Edit", edit_admin_post_path(@post)
    %li= button_to "Delete", admin_post_path(@post), :method => :delete, :confirm => "Yo sure?"

%h1
  Post:
  =h @post

%ul
  %li
    %strong Permalink:
    = link_to post_path(:year => @post.year, :permalink => @post.permalink), post_path(:year => @post.year, :permalink => @post.permalink)
  %li
    %strong Published:
    = @post.published_at || "Not yet"
  %li
    %strong Body:
  %li
    = @post.body
