<% @section = :posts -%>
<% @page_title = "Post: #{h(@post)}" -%>


<% content_for :subcontent do %>
  <ul>
    <li><%= link_to "Edit", edit_admin_post_path(@post) %></li>
    <li><%= button_to "Delete", admin_post_path(@post), :method => :delete, :confirm => "Yo sure?" %></li>
  </ul>
<% end %>

<h1>Post: <%=h @post %></h1>

<p><strong>Permalink:</strong> <%= link_to post_url(@post), @post %></p>

<p><strong>Published:</strong> <%= @post.published_at || "Not yet" %></p>

<p><strong>Body:</strong></p>

<%= @post.body %>
