- @section = :events
- @page_title = "jams for #{h(@event.name)}"

- content_for :section_menu do
  %ul.actions
    %li= link_to @event.name, admin_event_path(@event)
    %li= link_to "New jam", new_admin_event_jam_path(@event)

%h1
  = @page_title
  
  
%ul
  -@jams.each do |jam|
    %li
      .title
      = link_to jam.title, admin_event_jam_path(@event,jam)
      .user
        proposed by
        =jam.users[0].full_name