<% @section = :blog %>
<% @page_title = h(@post.title) %>

<div class="hentry">
  <h1 class="entry-title"><%=h @post.title %></h1>

  <ul class="byline">
      <li>Posted by <%= user_link_with_avatar(@post.user, "author") %> on <span class="updated"><%= @post.published_at.to_date.to_s(:long) %></span></li>
      <li class="comments"><a href="#comments">12 comments</a></li>
  </ul> <!-- // .byline -->

  <div class="entry-content">
    <%= @post.body %>
  </div> <!-- // .entry-content -->
  
  

</div> <!-- // .hentry -->

<div class="hfeed" id="comments">
  <% if @post.comments.empty? %>
    <p class="title">There are no comments yet!</p>
  <% else %>
    <p class="title"><%= pluralize @post.comments.count, 'Comment' %></p>
    <% for comment in @post.comments %>
      <div class="hentry" id="comment-<%= comment.id %>">
        <p class="comment-details"><em><%= user_link_for_comment(comment.user, "author") %> commented <%= time_ago_in_words comment.created_at %> ago:</em></p>
        <div class="entry-content">
          <%=h comment.body %>
        </div> <!-- // .entry-content -->
      </div> <!-- // .hentry #comment-<%= comment.id %> -->
    <% end %>
  <% end %>

  <% if !current_user %>
    <p><%= link_to_login_with_return_to_current_page 'Login to leave a comment' %></p>
  <% else %>
    <% form_tag post_comments_path(@post), :id => 'new-comment' do %>
      <% if params[:no_body_error] %>
        <p class="error">Don&rsquo;t forget to type something!</p>
      <% end %>
      <fieldset>
        <label for="comment_body">
            <span>Add your own:</span>
            <%= text_area_tag 'comment[body]', nil, :cols => '57', :rows => '4', :id => 'comment_body'  %>
        </label>
        <%= submit_tag 'Add Comment', :class => 'submit' %>
      </fieldset>
    <% end %>
  <% end %>
</div> <!-- // #comments -->

<p>&nbsp;</p><p>&nbsp;</p>