  - @section = :blog
- @page_title = h(@post.title)

.hentry
  %h1.entry-title
    =h @post.title
  %ul.byline
    %li
      Posted by
      = user_link_with_avatar(@post.user, "author")
      on
      %span.updated
        = @post.published_at.to_date.to_s(:long)
    %li.comments
      %a{ :href => "#comments" }
        = @post.comments.length

  .entry-content
    = @post.body

  %ul.entry-footer
    %li.post-date
      Posted
      %span.published
        = @post.published_at.to_date.to_s(:long)
    /
      <li class="tags"><span>Tagged</span>
      <ul>
      <li><a href="#" rel="tag">Sydney</a>,</li>
      <li><a href="#" rel="tag">winners</a>,</li>
      <li><a href="#" rel="tag">wrap-up</a>, and</li>
      <li><a href="#" rel="tag">something else</a></li>
      </ul>

#comments.item.hfeed
  .item-details
    %h2 Comments

  - if @post.comments.empty?
    %p.title
      There are no comments yet!

  - @post.comments.each_with_index do |comment, index|
    .hentry.comment{:id => "comment-#{comment.id}"}
      .entry-content= sanitize simple_format(comment.body), :tags => %w(strong em a code pre blockquote span q abbr acronym br img ul ol li del), :attributes => %w(href class cite rel rev title src alt)
      %p.comment-details
        %a.permalink{ :href => "comment-#{comment.id}"}= index + 1
        %span.user-avatar.vcard
          %a{ :href => user_path(comment.user) }
            = avatar_image(comment.user, :tiny)
          %a.url{ :href => user_path(comment.user) }<
            %span.fn.nickname=h comment.user.nick_name
        = time_ago_in_words comment.created_at
  
.item#comment-form
  .item-details
    %h2
      Add your own
  - if !current_user
    %p
      = link_to_login_with_return_to_current_page 'Login to leave a comment'
  - else
    - form_tag post_comments_url(:year => @post.year, :permalink => @post.permalink), :id => 'new-comment' do
      - if params[:no_body_error]
        %p.error
          Don&rsquo;t forget to type something!
      %fieldset
        %label{ :for => "new_comment" }
          %span Add your own:
          = text_area_tag 'comment[body]', nil, :cols => '57', :rows => '4', :id => 'new_comment'
          %span.note (HTML is welcome, but please be nice!)
      %fieldset
        %input.submit{ :type => "submit", :value => "Add comment"}