<% @section = :blog %>
<% @page_title = h(@post.title) %>

<div class="hentry">
  <h1><%=h @post.title %></h1>

  <%= @post.body %>

  <p><em>by <%= user_link_with_avatar(@post.user) %> - <%= @post.published_at.to_date.to_s(:long) %></em></p>

</div> <!-- // .hentry -->

<div id="comments">
  <% if @post.comments.empty? %>
    <p class="blurb"><strong>There are no comments yet!</strong></p>
  <% else %>
    <p class="blurb"><strong><%= pluralize @post.comments.count, 'Comment' %></strong></p>
    <% for comment in @post.comments %>
      <div id="comment-<%= comment.id %>">
        <%=h comment.body %>
        <p><em>by <%= user_link_with_avatar(comment.user) %> <%= time_ago_in_words comment.created_at %> ago</em></p>
      </div>
    <% end %>
  <% end %>

  <% if !current_user %>
    <p><%= link_to_login_with_return_to_current_page 'Login to leave a comment' %></p>
  <% else %>
    <% form_tag post_comments_path(@post), :id => 'new-comment' do %>
      <fieldset>
        <label for="comment_body">
            Add yours:
            <%= text_area_tag 'comment[body]', nil, :cols => '57', :rows => '3', :id => 'comment_body'  %>
        </label>
        <%= submit_tag 'Submit' %>
      </fieldset>
    <% end %>
  <% end %>
</div> <!-- // #comments -->