- @section = :blog
- @page_title = h(@post.title)
- @mobile_version_path = formatted_post_path(@post.year, @post.permalink, :mobile)

- content_for :other_content do
  = default_other_content

.hentry.item
  %h1.entry-title
    =h @post.title
  %ul.byline
    %li
      Posted by
      = user_link_with_avatar(@post.user, "author")
      on
      %span.updated
        = @post.published_at.to_date.to_s(:long)
    %li.comments
      %a{ :href => "#comments" }
        = pluralize(@post.comments.length, "comment")

  .entry-content
    = @post.body

  %ul.entry-footer
    %li.post-date
      Posted
      %span.published
        = @post.published_at.to_date.to_s(:long)
    /
      <li class="tags"><span>Tagged</span>
      <ul>
      <li><a href="#" rel="tag">Sydney</a>,</li>
      <li><a href="#" rel="tag">winners</a>,</li>
      <li><a href="#" rel="tag">wrap-up</a>, and</li>
      <li><a href="#" rel="tag">something else</a></li>
      </ul>

#comments.item.hfeed
  .item-details
    %h2 Comments

  - if @post.comments.empty?
    %p.title There are no comments yet!

  - @post.comments.each_with_index do |comment, index|
    .hentry.comment{:id => "comment-#{comment.id}"}
      .entry-content= format_comment_body(comment.body)
      %p.comment-details
        %a.permalink{ :href => "comment-#{comment.id}"}= index + 1
        = user_link_with_avatar(comment.user, "author")
        / %span.user-avatar.vcard
        /           %a{ :href => user_path(comment.user) }
        /             = avatar_image(comment.user, :tiny)
        /           %a.url{ :href => user_path(comment.user) }<
        /             %span.fn.nickname=h comment.user.nick_name
        wrote
        = time_ago_in_words comment.created_at
        ago.
  
.item.last#comment-form
  .item-details
    %h2
      Add yours
  - if !current_user
    %p
      = link_to_login_with_return_to_current_page 'Login to leave a comment'
  - else
    - form_tag post_comments_url(:year => @post.year, :permalink => @post.permalink), :id => 'new-comment' do
      - if params[:no_body_error]
        %p.error
          Don&rsquo;t forget to type something!
      %fieldset
        %label{ :for => "new_comment" }
          %span Comment goes here:
          = text_area_tag 'comment[body]', nil, :cols => '57', :rows => '4', :id => 'new_comment'
          %span.note (Nice HTML is welcome, but please keep the naughty stuff to yourself!)
      %fieldset
        %input.submit{ :type => "submit", :value => "Add comment"}
        