!!! Strict
%html{ "xml:lang" => "en-au", :lang => "en-au", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }/
    %title
      = @page_title || (raise "No page title")
    = stylesheet_link_tag 'reset', 'backjam'
    = javascript_include_tag 'jquery', 'webjam', 'autoshow', :cache => true

    = auto_discovery_link_tag :atom, "TODO", :title => "Webjam"
    = yield :head

  %body#webjam-com-au{:class => @body_class, :onload => @onload}
    #page
      %ul#account-tools
        - if current_user
          %li.profile
            = user_login_link_with_avatar(current_user)
          %li.logout
            = button_to 'Logout', session_path, :method => :delete 
          - else 
          %li.login
            = link_to "<strong>Jammer?</strong> Login", new_session_path 
          %li.register
            = link_to "<strong>New peep?</strong> Register", new_user_path

      #wrapper
        - if top = yield(:top) 
          = top 
        - else 
          %p#pagetitle
            %a{ :href => "/" }
              = image_tag 'webjam-logo.png', :size => '1033x152', :alt => "Webjam"
          %span#phat-digits
            = @event_num
        #maincontent
          #other-content
            = yield :other_content
          #content
            = yield :layout 
        #footer
          .column.first
            #news.item
              %h2
                News
                %a.feed{ :href => "#", :title => "Subscribe!" }
                  Subscribe!
              %ul
                %li
                  %a{ :href => "/posts/19-webjam-will-rock-you" }
                    Webjam will rock you
                  (
                  %a.no-comments{ :href => "/posts/19-webjam-will-rock-you#comments" }
                    0
                  )
                %li
                  %a{ :href => "/posts/20-book-bonanza" }
                    Book Bonanza
                  (
                  %a.no-comments{ :href => "/posts/20-book-bonanza#comments" }
                    0
                  )
                %li
                  %a{ :href => "/posts/21-time-and-place" }
                    Time and Place
                  (
                  %a.no-comments{ :href => "/posts/21-time-and-place#comments" }
                    0
                  )
                %li
                  %a{ :href => "/posts/22-jams-kicked-out" }
                    Jams == Kicked Out ++
                  (
                  %a.no-comments{ :href => "/posts/22-jams-kicked-out#comments" }
                    0
                  )
                %li
                  %a{ :href => "/posts/16-perth-plentiful-prizes" }
                    Perth's Plentiful Prizes
                  (
                  %a.no-comments{ :href => "/posts/16-perth-plentiful-prizes#comments" }
                    0
                  )
                %li.more
                  %a{ :href => "/2008/" }
                    More news

          .column
            #previous.item
              %h2
                Previous Jams
              %ul
                %li
                  %a{ :href => "/webjam8/" }
                    Webjam 8
                %li
                  %a{ :href => "/webjam7/" }
                    Webjam 7
                %li
                  %a{ :href => "/webjam6/" }
                    Webjam 6
                %li
                  %a{ :href => "/webjam5/" }
                    Webjam 5
                %li
                  %a{ :href => "/webjam4/" }
                    Webjam 5
                %li
                  %a{ :href => "/webjam3/" }
                    Webjam 3
                %li
                  %a{ :href => "/webjam2/" }
                    Webjam 2
                %li
                  %a{ :href => "/webjam1/" }
                    Webjam 1

          .column
            #about.item
              %h2
                About
              %p
                Webjam is brought to you by the letters W, W and W
              %p
                Reach out and touch someone -
                %a{ :href => "mailto:contact@webjam.com.au" }
                  contact@webjam.com.au