!!! Strict
%html{ "xml:lang" => "en-au", :lang => "en-au", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
    %meta{ :content => "IE=EmulateIE7", "http-equiv" => "X-UA-Compatible" }
    %title
      = @page_title || (raise "No page title")
    = stylesheet_link_tag 'reset', 'backjam'
    = javascript_include_tag 'jquery', 'webjam', 'autoshow', :cache => true

    = auto_discovery_link_tag :atom, "TODO", :title => "Webjam"
    = yield :head

  %body#webjam-com-au{:class => @body_class, :onload => @onload}
    #page
      %ul#account-tools
        - if current_user
          %li.profile
            = user_login_link_with_avatar(current_user)
          %li.logout
            = button_to 'Logout', session_path, :method => :delete 
        - else 
          %li.login
            = link_to "<strong>Jammer?</strong> Login", new_session_path 
          %li.register
            = link_to "<strong>New peep?</strong> Register", new_user_path

      #wrapper
        - if top = yield(:top) 
          = top 
        - else 
          %p#pagetitle
            %a{ :href => "/" }
              = image_tag 'webjam-logo.png', :size => '1033x152', :alt => "Webjam"
          %span#phat-digits
            = @event_num
        - if full_title = yield(:full_title)
          #full-title
            = full_title
        #maincontent
          - if other_content = yield(:other_content)
            #other-content
              = other_content
            #content
              = yield :layout
          -else
            #content.full
              =yield :layout
        #footer
          .column.first
            #news.item
              %h2
                News
                %a.feed{ :href => "#", :title => "Subscribe!" }
                  Subscribe!
              - if @footer_latest_news.any?
                %ul
                  - @footer_latest_news.each do |post|
                    %li
                      %a{ :href => post_path(post.year, post.permalink) }= post.title
                      %a.no-comments{ :href => "#{post_path(post.year, post.permalink)}#comments" }= "(#{post.comments.size})"
                  %li.more
                    %a{ :href => "/news/" }
                      More news

          .column
            #previous.item
              %h2
                The Jams
              %ul
                - for event in @footer_previous_events
                  %li
                    %a{ :href => event_path(event) }
                      = event.name

          .column
            #about.item
              %h2
                About
              %p
                Webjam is brought to you by the letters W, W and W
              %p
                Reach out and touch someone -
                %a{ :href => "mailto:contact@webjam.com.au" }
                  contact@webjam.com.au
