<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-au" lang="en-au">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title><%= @page_title || (raise "No page title") %></title>
  <%= stylesheet_link_tag 'reset', 'backjam' %>
  <%= auto_discovery_link_tag :atom, formatted_posts_path(:format => "atom"), :title => "Webjam" %>
  <%= yield :head %>
</head>
<body <%= @body_class && %{class="#{@body_class}"} %> id="webjam-com-au"<%= @onload && " onload='#{@onload}'" %>>
  <div id="page">
    
    <ul id="account-tools">
      <% if current_user %>
        <li class="profile"><%= user_login_link_with_avatar(current_user) %></li>
        <li class="logout"><%= button_to 'Logout', session_path, :method => :delete %></li>
      <% else %>
        <li class="login"><%= link_to "<strong>Jammer?</strong> Login", new_session_path %></li>
        <li class="register"><%= link_to "<strong>New peep?</strong> Register", new_user_path %></li>
      <% end %>
    </ul> <!-- // #account-tools -->
    
  <div id="wrapper">

  <% if top = yield(:top) %>
    <%= top %>
  <% else %>
    <p id="pagetitle"><a href="/"><%= image_tag 'webjam-logo.png', :size => '1033x152', :alt => "Webjam" %></a></p>
  <% end %>
  
  <% unless @upcoming_events.empty? %>
    <div id="upcoming-events">
      <%= render :collection => @upcoming_events, :partial => 'layouts/event' %>
    </div>
  <% end %>
  
  <div id="maincontent">
    <div id="content">
      <%= yield :layout %>
    </div> <!-- // #content -->
      
    <div id="other-content">
      <div class="item" id="wtf">
        <h2>WTF?</h2>

        <p><strong>18 presenters</strong> with <strong>3 minutes</strong> each to show off their <strong>hot web work</strong>.</p>
        <p>You <strong>vote</strong> for the big winner and they get to take home <strong>cool booty</strong>.</p>
        <p>Oh, and sometimes there are <strong>free drinks</strong> too.</p>
      </div> <!-- // .item #wtf -->
      
      <div class="item" id="news">
        <h2>News</h2>
        <ul>
          <li>
            <a href="/posts/19-webjam-will-rock-you">Webjam will rock you</a> (<a href="/posts/19-webjam-will-rock-you#comments" class="no-comments">0</a>);
          </li>
          <li>
            <a href="/posts/20-book-bonanza">Book Bonanza</a> (<a
  href="/posts/20-book-bonanza#comments" class="no-comments">0</a>);
          </li>
          <li>
            <a href="/posts/21-time-and-place">Time and Place</a> (<a
  href="/posts/21-time-and-place#comments" class="no-comments">0</a>); and 
          </li>
          <li>
            <a href="/posts/22-jams-kicked-out">Jams == Kicked Out ++</a> (<a
  href="/posts/22-jams-kicked-out#comments" class="no-comments">0</a>). 
          </li>
          <li>
            <a href="/posts/16-perth-plentiful-prizes">Perth's Plentiful Prizes</a> (<a href="/posts/16-perth-plentiful-prizes#comments" class="no-comments">0</a>); 
          </li>
        </ul>
      </div> <!-- // .item #posts --> 
    </div> <!-- // #other-content -->
  </div> <!-- // #maincontent -->
</div> <!-- // #wrapper -->
<div id="footer">
  <p>Webjam is brought to you by the letters W, W and W</p>
  <p>Reach out and touch someone - <a href="mailto:contact@webjam.com.au">contact@webjam.com.au</a></p>
</div> <!-- // #footer -->
</div> <!-- // #page -->
</body>
</html>