<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-au" lang="en-au">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title><%= @page_title || (raise "No page title") %></title>
  <%= stylesheet_link_tag 'reset', 'backjam' %>
  <%= auto_discovery_link_tag :atom, formatted_posts_path(:format => "atom"), :title => "Webjam" %>
  <%= yield :head %>
</head>
<body <%= @body_class && %{class="#{@body_class}"} %> id="webjam-com-au"<%= @onload && " onload='#{@onload}'" %>>
  <div id="page">
    
    <ul id="account-tools">
      <% if current_user %>
        <li class="profile"><%= user_login_link_with_avatar(current_user) %></li>
        <li class="logout"><%= button_to 'Logout', session_path, :method => :delete %></li>
      <% else %>
        <li class="login"><%= link_to "<strong>Jammer?</strong> Login", new_session_path %></li>
        <li class="register"><%= link_to "<strong>New peep?</strong> Register", new_user_path %></li>
      <% end %>
    </ul> <!-- // #account-tools -->
    
  <div id="wrapper">

  <% if top = yield(:top) %>
    <%= top %>
  <% else %>
    <p id="pagetitle"><a href="/"><%= image_tag 'webjam-logo.png', :size => '1033x152', :alt => "Webjam" %></a></p>
  <% end %>
  
  <% unless @upcoming_events.empty? %>
    <div id="upcoming-events">
      <%= render :collection => @upcoming_events, :partial => 'layouts/event' %>
    </div>
  <% end %>
  
  <div id="maincontent">
    <div id="content">
      <%= yield :layout %>
    </div> <!-- // #content -->
      
    <div id="other-content">
      <ul id="main-nav">
        <% for event in @upcoming_events %>
          <li class="<%= class_for_section(event_section(event)) %>"><%= link_to event, event_path(event) %></li>
          <% end %>
          <li class="<%= class_for_section :home %>"><%= link_to "home", home_path %></li>
          <li class="<%= class_for_section :blog %>"><%= link_to "blog", posts_path %></li>
          <li class="<%= class_for_section :about %>"><%= link_to "wtf is webjam?", about_path %></li>
      </ul>
    </div> <!-- // #other-content -->
  </div> <!-- // #maincontent -->
</div> <!-- // #wrapper -->
<div id="footer">
  <p>Webjam is brought to you by the letters W, W and W</p>
  <p>Reach out and touch someone - <a href="mailto:contact@webjam.com.au">contact@webjam.com.au</a></p>
</div> <!-- // #footer -->
</div> <!-- // #page -->
</body>
</html>