<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-au" lang="en-au">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title><%= @page_title || (raise "No page title") %></title>
  <%= stylesheet_link_tag 'reset', 'backjam' %>
  <%= auto_discovery_link_tag :atom, "TODO", :title => "Webjam" %>
  <%= yield :head %>
</head>
<body <%= @body_class && %{class="#{@body_class}"} %> id="webjam-com-au"<%= @onload && " onload='#{@onload}'" %>>
  <div id="page">
    
    <ul id="account-tools">
      <% if current_user %>
        <li class="profile"><%= user_login_link_with_avatar(current_user) %></li>
        <li class="logout"><%= button_to 'Logout', session_path, :method => :delete %></li>
      <% else %>
        <li class="login"><%= link_to "<strong>Jammer?</strong> Login", new_session_path %></li>
        <li class="register"><%= link_to "<strong>New peep?</strong> Register", new_user_path %></li>
      <% end %>
    </ul> <!-- // #account-tools -->
    
  <div id="wrapper">

  <% if top = yield(:top) %>
    <%= top %>
  <% else %>
    <p id="pagetitle"><a href="/"><%= image_tag 'webjam-logo.png', :size => '1033x152', :alt => "Webjam" %></a></p>
  <% end %>
  
  <div id="maincontent">
    <div id="other-content">
      <div class="item" id="wtf">
        <h2>WTF?</h2>
        <p>18 presenters with 3 minutes each to show off their hot web work.</p>
        <p>You vote for the big winner and they get to take home cool booty.</p>
        <p>Oh, and sometimes there are free drinks too.</p>
      </div> <!-- // .item #wtf -->
      
      <div class="item" id="latest">
        <h2>Latest News <a class="feed" href="#" title="Subscribe!">Subscribe!</a></h2>
        <h3>Webjam will rock you</h3>
        <p>This is an excerpt from the article. How to do that? Auto or editorial? We're going to need bucketloads of support to make this work and that means all of you! Webjam is a community-driven event that showcases, celebrates and inspires every webby geek we can get our hands on and we need as much love as we can get to make this the biggest, wildest, hottest Webjam yet.</p>
        <ul>
          <li class="first">
            <a href="/posts/20-book-bonanza">Read more...</a>
          </li>
          <li>
            <a href="/posts/20-book-bonanza#comments">34 comments</a>
          </li>
          <li class="more">
            <a href="/2008/">News archive</a>
          </li>
        </ul>
      </div> <!-- // .item #latest -->
    </div> <!-- // #other-content -->
    <div id="content">
      <%= yield :layout %>
    </div> <!-- // #content -->
  </div> <!-- // #maincontent -->
  <div id="footer">
    <div class="column first">
      <div class="item" id="news">
        <h2>News <a class="feed" href="#" title="Subscribe!">Subscribe!</a></h2>
        <ul>
          <li>
            <a href="/posts/19-webjam-will-rock-you">Webjam will rock you</a> (<a href="/posts/19-webjam-will-rock-you#comments" class="no-comments">0</a>)
          </li>
          <li>
            <a href="/posts/20-book-bonanza">Book Bonanza</a> (<a
  href="/posts/20-book-bonanza#comments" class="no-comments">0</a>)
          </li>
          <li>
            <a href="/posts/21-time-and-place">Time and Place</a> (<a
  href="/posts/21-time-and-place#comments" class="no-comments">0</a>)
          </li>
          <li>
            <a href="/posts/22-jams-kicked-out">Jams == Kicked Out ++</a> (<a
  href="/posts/22-jams-kicked-out#comments" class="no-comments">0</a>)
          </li>
          <li>
            <a href="/posts/16-perth-plentiful-prizes">Perth's Plentiful Prizes</a> (<a href="/posts/16-perth-plentiful-prizes#comments" class="no-comments">0</a>)
          </li>
          <li class="more">
            <a href="/2008/">More news</a>
          </li>
        </ul>
      </div> <!-- // .item #news -->
    </div> <!-- // .column -->
    <div class="column">
      <div class="item" id="previous">
        <h2>Previous Jams</h2>
        <ul>
          <li>
            <a href="/webjam8/">Webjam 8</a>
          </li>
          <li>
            <a href="/webjam7/">Webjam 7</a>
          </li>
          <li>
            <a href="/webjam6/">Webjam 6</a>
          </li>
          <li>
            <a href="/webjam5/">Webjam 5</a>
          </li>
          <li>
            <a href="/webjam4/">Webjam 5</a>
          </li>
          <li>
            <a href="/webjam3/">Webjam 3</a>
          </li>  
          <li>
            <a href="/webjam2/">Webjam 2</a>
          </li>
          <li>
            <a href="/webjam1/">Webjam 1</a>
          </li>
        </ul>
      </div> <!-- // .item #news -->
    </div> <!-- // .column -->
    <div class="column">
      <div class="item" id="about">
        <h2>About</h2>
        <p>Webjam is brought to you by the letters W, W and W</p>
        <p>Reach out and touch someone - <a href="mailto:contact@webjam.com.au">contact@webjam.com.au</a></p>
      </div>
    </div> <!-- // .column -->
  </div> <!-- // #footer -->
</div> <!-- // #wrapper -->
</div> <!-- // #page -->
</body>
</html>